<div class="col-sm-6 ">
<div class="editpr">
  <div class="form-group">
    <label for="editproddesc" class="">{% trans %}Product Description{% endtrans %} :</label>
    <input type='text' class="form-control input-sm" name="editproddesc"  id="editproddesc" value="{{proddesc['productdesc']}}" placeholder="Alphanumeric">

  </div>
  <div class="form-group">
    <label for="editcatselect" class="">{% trans %}Category{% endtrans %} :</label>
    <select class = "form-control input-sm "  name = "catselect" id="editcatselect" >
      {% if proddesc["categorycode"]== None %}
      <option value="" selected>{% trans %}None{% endtrans %}</option>
      {% endif %}
      {% for cat in category %}
      {% if cat['categorycode']== proddesc["categorycode"] %}
      <option value="{{cat['categorycode']}}" selected>{{cat["categoryname"]}}</option>
      {% else %}
      <option value="{{cat['categorycode']}}" >{{cat["categoryname"]}}</option>
      {% endif %}
      {% endfor %}
    </select>
  </div>
  <div class="form-group">
    <label for="edituom" class="">{% trans %}Unit of Measurement{% endtrans %} :</label>
    <select class = "form-control input-sm "  name = "uom" id="edituom" >
      {% for uom in uom %}
      {% if uom["uomid"]== proddesc["uomid"] %}
      <option value="{{uom['uomid']}}" selected>{{uom["unitname"]}}</option>
      {% else %}
      <option value="{{uom['uomid']}}">{{uom["unitname"]}}</option>
      {% endif %}
      {% endfor %}
    </select>
  </div>
  {% if not godown %}
  <div class="form-group pds">
    <label for="editopeningstock" class="">{% trans %}Opening Stock{% endtrans %} :</label>
    <div class="input-group">
      <input type='text' class="form-control text-right input-sm" name="openingstock"  id="editopeningstock" value="{{proddesc['openingstock']}}" aria-describedby="unitaddon">
      <span class="input-group-addon input-sm" id="unitaddon"></span>
    </div>
  </div>
  <input type="text" name="godownflag" id="editgodownflag" value="0" hidden>
  {% else %}
<input type="text" name="godownflag" id="editgodownflag" value="0" hidden>
<div id="editnogodown" class="form-group pds">
  <label for="editopeningstock" class="">{% trans %}Opening Stock{% endtrans %} :</label>
  <div class="input-group">
    <input type='text' class="form-control text-right input-sm" name="openingstock"  id="editopeningstock" value="{{proddesc['openingstock']}}" aria-describedby="unitaddon">
    <span class="input-group-addon input-sm" id="unitaddon"></span>
  </div>
</div>
<div  id="editopeningstockdiv" class="form-group" hidden>
  <div class="panel">
    <table id="editgodown_ob_table" class="table table-condensed table-bordered fixed-table">
      <thead class="bg-primary input-sm">
        <tr>
          <th class="col-xs-8 text-center">{% trans %}Godown{% endtrans %}</th>
          <th class="col-xs-4 text-center">{% trans %}Opening Stock{% endtrans %}</th>
        </tr>
      </thead>
      <tbody>
        {% for record in godown %}
        <tr>
          <td class="col-xs-8">
            <label style="border-style:solid; border-radius: 3px; border-width:1; border-color: #d9dbdb; padding-top:7px; padding-bottom:3px;" class="col-xs-12">{{record["goname"]}}({{record["goaddr"]}})</label>
          </td>
          <td class="col-xs-4">
            <input class="form-control input-sm editgodown_ob text-right numtype" value="0.00">
            <input type="text" value="{{record["goid"]}}" class="editgodownid" hidden>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
  {% endif %}
  </div>
  <div class="form-group taxdiv">
    <div class="panel taxinnerdiv">
    <table id="product_edit_tax_table" class="table table-condensed table-bordered fixed-table">
      <thead class="bg-primary input-sm">
        <tr>
          <th class="col-xs-4 text-center">{% trans %}Tax Name{% endtrans %}</th>
          <th class="col-xs-4 text-center">{% trans %}State{% endtrans %}</th>
          <th class="col-xs-3 text-center">{% trans %}Rate%{% endtrans %}</th>
          <th class="col-xs-1"></th>
          <th class=""></th>
        </tr>
      </thead>
      <tbody>

      </tbody>
    </table>
    </div>
    <small id="taxhelp" class="form-text text-muted">Press 'Shift + <' from tax name to shift focus to opening stock.</small><br>
    <small id="taxhelp2" class="form-text text-muted">Press 'Ctrl + >' or 'Ctrl + <' to navigate within tax name, state and tax rate.</small>
  </div>
</div>
<div id="extsp">

<div id = "editspecifications" class="col-sm-6 editpr">
    {% if proddesc["categorycode"]!= None %}

      <div class="form-group ">
        {% for spec in prodspecs %}
        {% for pdesc in proddesc["specs"] %}
        {% if spec['spcode']|int == pdesc|int %}
        <div class="form-group">

          <label for="{{spec['spcode']}}" class="">{{spec["attrname"]}} :</label>
          {% if spec["attrtype"]==0 %}
          <input type="text" class="form-control input-sm" name="{{spec['spcode']}}"  id="{{spec['spcode']}}" value="{{proddesc['specs'][pdesc]}}" placeholder="Alphanumeric">
          {% elif spec["attrtype"]==1 %}
          <input type="text" class="form-control input-sm numtype" name="{{spec['spcode']}}"  id="{{spec['spcode']}}" value="{{proddesc['specs'][pdesc]}}" placeholder="Numeric">
          {% elif spec["attrtype"]==2 %}
          <input type="text" class="form-control input-sm specdate" name="{{spec['spcode']}}"  id="{{spec['spcode']}}" value="{{proddesc['specs'][pdesc]}}" placeholder="DD-MM-YYYY">
          {% elif spec["attrtype"]==3 %}
          {% if proddesc['specs'][pdesc]|int ==1 %}
          <label class="radio-inline"><input value = "1" class="radtype" type="radio" name="{{spec['spcode']}}" checked>{% trans %}Yes{% endtrans %}</label>
          <label class="radio-inline"><input value = "0" class=" radtype" type="radio" name="{{spec['spcode']}}">{% trans %}No{% endtrans %}</label>
          {% else %}
          <label class="radio-inline"><input value = "1" class="radtype" type="radio" name="{{spec['spcode']}}">{% trans %}Yes{% endtrans %}</label>
          <label class="radio-inline"><input value = "0" class=" radtype" type="radio" name="{{spec['spcode']}}" checked>{% trans %}No{% endtrans %}</label>
          {% endif %}
          {% endif %}
        </div>
        {% endif %}
        {% endfor %}

        {% endfor %}
      </div>

      {% endif %}


</div>
</div>
